  /* ESTILOS GENERALES */
  html, body {
      height: 100% ;
  }
  /* Modificar el modelo de cajas de CSS */
  html {
      box-sizing: border-box;
  }
  *, *:before, *:after {
      box-sizing: inherit;
  }
  /* Resetear margenes y padding */
  * {
      margin: 0;
      padding: 0;
  }
  body {
    font-family: 'Open Sans', sans-serif;
  }
  .container {
      width: 90%;
      max-width: 1366px;
      margin: 0 auto;
  }
  /* ESTILOS DE LOS CONTENIDOS */
  /* Estilos de header */
  header {
      background-color:blue;
  }
  #logo {
      float: left ;
  }
  #infoContacto {
      float: right;
      margin-top: 22px;
  }
  div#infoContacto i {
    color: #fff;
    margin-right: 12px;
    font-size: 1.20rem;
}
/* Seccion 1 */
article > section:nth-child(1) {
    background-image:linear-gradient(to left top,rgba(55,185,30,0.83), rgba(25,59,240,0.83)), url(../images/fondo_superior.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:  center right;
}
div#intro {
    display: flex;
    padding: 50px 0;
    flex-flow: row wrap;
    height: 100%;
    min-height: 600px;
}
div#descripcion {
    flex-basis: 60%;
    padding: 0 1em 0 0;
    flex-grow: 2;
    color: #fff;
}
h1 {
    font-size: 2.8rem;
    font-family: arial, tahoma, verdana, sans-serif;
    margin-bottom: 25px;
}
#descripcion p {
    margin-bottom: 33px;
    line-height: 1.65;
}
#descripcion i {
    font-size: 0.9rem;
    border: 1px solid;
    border-radius: 50%;
    padding: 5px;
    background-color: #fff;
    color: #008000;
}
div#formulario {
    flex-basis: 30%;
    background-color: rgba(0,0,0,0.8);
    padding: 20px 1em;
    color: #fff;
}
}
#formulario h2 {
    font-size: 1.4rem;
    margin-bottom: 40px;
}
label {
    display: block;
    margin: 10px 0;
    font-size: 0.90rem;
}
input[type="text"], input[type="email"] {
    display: inline-block;
    width: 100%;
    height: 45px;
    padding: 0 1em;
    margin: 5px 0;
    border: 1px solid #ccc;
}
input[type="submit"] {
    display: inline-block;
    border: none;
    background-color: #008000;
    color: #fff;
    width: 100%;
    padding: 10px 1em;
    margin: 25px auto;
    font-size: 1rem;
}
small a {
    color: #fff;
}
/* seccion 2 */
article > section:nth-child(2) {
    padding: 60px 0;
}
div#seccionDos {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    text-align: center;
}
#seccionDos i {
    color: #13a3db;
    font-size: 2.5rem;
    border: 1px solid;
    border-radius: 50%;
    padding: 48px 0;
    width: 140px;
    height: 140px;
    margin-bottom: 35px;
}
.col h3 {
    font-size: 1.1rem;
    font-weight: 500;
    margin-bottom: 12px;
}
/* seccion 3 */
article > section:nth-child(3) {
    background-color: #f6f9fd;
    padding: 40px 0;
}
#seccionTres {
    display: flex;
    flex-flow: row wrap;
}
#seccionTres div {
    #seccionTres div {
        flex-basis: 60%;
        padding-right: 1.9em;
    }
h2 {
    margin-bottom: 20px;
}
#seccionTres a {
    display: inline-block;
    background-color: #008000;
    padding: 12px 10em;
    text-decoration: none;
    margin: 12px 0;
}
}
video {
    flex-basis: 40%;
}