  /* ESTILOS GENERALES */
  html, body {
      height: 100% ;
  }
  /* Modificar el modelo de cajas de CSS */
  html {
      box-sizing: border-box;
  }
  *, *:before, *:after {
      box-sizing: inherit;
  }
  /* Resetear margenes y padding */
  * {
      margin: 0;
      padding: 0;
  }
  body {
    font-family: 'Open Sans', sans-serif;
  }
  .container {
      width: 90%;
      max-width: 1366px;
      margin: 0 auto;
  }